.i {
    background-repeat: no-repeat;
    background-size: cover;
}

.e {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 80%;
}